<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Express Dev-skills</title>
</head>
<body>
  <h1>Dev-skills as of <%= time %></h1>
  <ul>
    <% devskills.forEach(devskill => { %>
      <li>
        <form 
          action="/devskills/<%= devskill._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button class="delete-button" type="submit">X</button>
        </form>  
        <a href="/devskills/<%= devskill._id %>/edit"><button class="edit-button">-</button></a>
        <a href="/devskills/<%= devskill._id %>"><%= devskill.text %>
        - 
        <%= devskill.profiency ? 'true' : 'false' %>
      </li>
    <% }) %>
  </ul>
  <a href="/devskills/new">Add Dev-Skill</a> <br>
  <a href="/">Back</a>
</body>
</html>








